(
    root: Combiner(
        sources: [
            SquareWave(
                node_id: Some(0),
                amplitude: 0.125,
                duty_cycle: 0.125
            ),
            SquareWave(
                node_id: Some(1),
                amplitude: 0.125,
                duty_cycle: 0.5
            )
        ]
    )
)
