(
    root: Combiner(
        sources: [
            Polyphony(
                node_id: Some(0),
                source: SquareWave(
                    amplitude: 0.125,
                    duty_cycle: 0.125
                )
            ),
            Polyphony(
                node_id: Some(1),
                source: SquareWave(
                    amplitude: 0.125,
                    duty_cycle: 0.5
                )
            )
        ]
    )
)
