(
    root: Combiner(
        sources: [
            EventReceiver(
                node_id: Some(0),
                source: TriangleWave(
                    amplitude: 0.5
                )
            ),
            EventReceiver(
                node_id: Some(1),
                source: SawtoothWave(
                    amplitude: 0.25
                )
            )
        ]
    )
)
