(
    root: Combiner(
        sources: [
            TriangleWave(
                node_id: Some(0),
                amplitude: 1.0
            ),
            SawtoothWave(
                node_id: Some(1),
                amplitude: 0.125
            )
        ]
    )
)
