(
    root: Combiner(
        sources: [
            LfsrNoise(
                node_id: Some(0),
                amplitude: 0.125,
                inside_feedback: true
            ),
            LfsrNoise(
                node_id: Some(1),
                amplitude: 0.125,
                inside_feedback: false
            )
        ]
    )
)
